body{
    margin: 0;
    color: #313131;
}

.sensor{
    fill: rgba(124,28,28,1);
}

.sensor:hover{
    fill: black;
    cursor: pointer;
}

.sensor.selected{
    fill: black;
}

.sensor.inactive{
    fill: orange;
}

.no-reading{
    fill: steelblue;
}

.sensor-legend{
    fill: rgba(124,28,28,1);
}

.inactive-legend{
    fill: orange;
}

.no-reading-legend{
    fill: steelblue;
}

.sensor-volume{
    fill: rgba(124,28,28,0.2);
}

.click-dummy{
    fill: transparent;
    cursor: pointer;
}

.volume-legend{
    fill: rgba(124,28,28,0.2);
}

.suburb{
    stroke: #696969;
    stroke-width: 1px;
}

.ui-mockup{
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 200;
}
#sensorStats{
    height: 400px;
}

.line{
    fill: transparent;
    stroke-width: 2px;
}

.counts{
    stroke: rgb(124,28,28);
    stroke-width: 4px;
    opacity: 0.2;

 }
.ave{
    stroke: black;
    opacity: 0.4;
}
.ave52{
    stroke: gray;
    stroke-dasharray: 15, 5;
    opacity: 0.4;
}

.ave52.selected{
    stroke-width: 3px;
}

.counts-legend{
    stroke: rgb(124,28,28);
    stroke-width: 4px;

}
.ave-legend{
    stroke: black;
    stroke-width: 4px;
}
.ave52-legend{
    stroke: gray;
    stroke-dasharray: 8, 2;
    stroke-width: 4px;
}

.selected{
    opacity: 1;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 1031;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}
.overlay.loading{
    background-color: rgba(204,204,204,0.4);
    position: absolute;
}

.overlay-item{
    text-align: center;
}

.axis text{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.axis-label{
    font-size: 14px;
    text-anchor: middle;
    font-weight: bold;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.ui-widget{
    top: 10px;
    left: 10px;
    z-index: 2;
    padding: 0.5rem;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    min-width: 355px;
    border-radius: 5px;
    background: white;
}
.pointer{
    cursor: pointer;
}

.range-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 0;
    background: #6c757d;
    outline: none;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #404248;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 4px #000000, 0 0 2px #0d0d0d;
}

.range-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #404248;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 4px #000000, 0 0 2px #0d0d0d;
}

.range-slider::-webkit-slider-thumb:hover{
    width: 22px;
    height: 22px;
}

.range-slider::-moz-range-thumb:hover{
    width: 22px;
    height: 22px;
}

.map-svg{
    height: calc(100vh - 80px);
    width: 100%;
}

.navbar-container{
    flex-grow: 1;
    display: flex;
}

.modal-close{
    position:absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    vertical-align: middle;
}

.play {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 12px solid  #313131;
    border-bottom: 8px solid transparent;
}
.pause {
    min-width: 12px;
    height: 16px;
    border-right: 4px solid #313131;
    border-left: 4px solid  #313131;
}

.datepicker-input{
    color: #313131;
    border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    font-weight: bold;
}

.no-user-select{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

button.collapse-toggle.collapsed:after
{
    content:'more' ;
    width:15px;
}
button.collapse-toggle:after
{
    content:'less' ;
    width:15px;
}

.no-outline{
    outline: none !important;
}


.hide{
    display: none;
}

.nav-shadow{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.layer-shadow{
    box-shadow:
            0 5px 5px -3px rgba(0,0,0,0.2),
            0 8px 10px 1px rgba(0,0,0,0.14),
            0 3px 14px 2px rgba(0,0,0,0.12);
}


.popover .arrow::after, .popover .arrow::before {
    border-bottom-color: white;
}

.fa-github{
    font-size: 1.5rem;
}

.btn-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 1.42857;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-btn{
    color:  #313131;
    background:inherit;
}

.icon-btn:hover, .icon-btn:focus{
    background: #dddddd;
}

.icon-btn:focus{
    box-shadow: none;
}

/*
Ripple effect
*/

.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple:hover {
    background: #d6d6d6 radial-gradient(circle, transparent 1%, #D6D6D6 1%) center/15000%;
}
.ripple:active {
    background-color: #efefef;
    background-size: 100%;
    transition: background 0s;
}

.text-btn{
    border:none;
    background: transparent;
    color: white;
    cursor: pointer;
}

.text-btn:focus{
    outline: none;
}

/*
Date Picker
 */

.datepicker-input:focus{
    outline:none;
}

.datepicker-top-left:before, .datepicker-top-right:before {
    border-bottom-color: #ffffff;
}

.datepicker-dropdown {
    border: none;
}

.datepicker-container{
    border-radius: 5px;
    box-shadow:
            0 5px 5px -3px rgba(0,0,0,0.2),
            0 8px 10px 1px rgba(0,0,0,0.14),
            0 3px 14px 2px rgba(0,0,0,0.12);
}
.datepicker-panel li{
    border-radius: 50%;
}

.datepicker-panel li[data-view="month current"], .datepicker-panel li[data-view="year current"]{
    border-radius: 5px;
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    animation-name: pulse;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

.circle{
    fill: rgba(124,28,28,0.6);
}

.stats{
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.rotate-90{
   transform: rotate(90deg);
}

.status-light{
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: #cccccc;
}

.online {
    background: rgb(124,28,28);
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px rgba(124,28,28,0.9), 0 0 10px rgba(124,28,28,0.9), 0 0 12px rgba(124,28,28,0.9), 0 0 15px rgba(124,28,28,0.9), 0 0 17px rgba(124,28,28,0.9);
    }
    to {
        box-shadow: 0 0 5px #fff, 0 0 7px rgba(124,28,28, 0.1), 0 0 10px rgba(124,28,28,0.1), 0 0 12px rgba(124,28,28,0.1), 0 0 15px rgba(124,28,28,0.1), 0 0 17px rgba(124,28,28,0.1), 0 0 20px #ff4da6;
    }
}
